<div class="collection-list-item">
  <h2>{{collectionName}}</h2>
  <div style="display: flex;">
    <div class="info-div" style="flex: 1;">
      <table >
        <tr>
          <td>Id:</td>
          <td>{{collectionId}}</td>
        </tr>
        
        <tr>
          <td>Root Directory:</td>
          <td>{{collectionRootDirectory}}</td>
        </tr>
        <tr>
          <td>Root Directory Exists:</td>
          <td>True</td>
        </tr>
      </table>
    </div>
    <div class="actions-div">
      <button mat-stroked-button class="edit-action-button" (click)="onUpdate()" style="width: 100%;">
        <mat-icon>edit</mat-icon>
        Edit
      </button>
      <br>
      <button mat-stroked-button class="delete-action-button" (click)="onDelete()">
        <mat-icon>delete_forever</mat-icon>
        Delete
      </button>
      
    </div>
  

  </div>

</div>
