<!-- https://www.w3schools.com/howto/howto_css_modals.asp -->
<!-- The Modal -->
<div id="image-lightbox-modal-backdrop" class="modal" [ngStyle]="{'display': (isVisible$ | async) ? 'block' : 'none'}">

  <!-- Modal content -->
  <div class="modal-content">
    <div style="flex-grow: 1; width: 100%">

      <div class="top-left-button-box">
        <button mat-icon-button (click)="showPrevious()" style="padding-right: 2px;" class="lightbox-button">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-icon-button (click)="showNext()" style="padding-right: 2px;" class="lightbox-button">
          <mat-icon>navigate_next</mat-icon>
        </button>
        <a download="{{ imageSource$ | async }}" href="" target="_blank" mat-icon-button class="lightbox-button">
          <mat-icon>download</mat-icon>
        </a>
      </div>
      <div class="top-right-button-box">
        <button mat-icon-button (click)="close()" class="lightbox-button">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <!-- Image -->
      <div [style.background-image]="'url(' + (imageSource$ | async) + ')'" class="lightbox-image">
      </div>

      <!-- Buttons -->
      <!-- <button mat-icon-button (click)="showPrevious()" class="prev-nav-button">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-icon-button (click)="showNext()" class="next-nav-button">
        <mat-icon>navigate_next</mat-icon>
      </button> -->
      <!-- <a download="{{ imageSource$ | async }}" href="" target="_blank" mat-icon-button class="download-button">
        <mat-icon>download</mat-icon>
      </a>
      <button mat-icon-button (click)="close()" class="close-button">
        <mat-icon>close</mat-icon>
      </button> -->

    </div>

    <!-- <div style="background-color: purple; width: 100%;">
      <h1>Blah!</h1>
    </div> -->


  </div>

</div>