<button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
  <mat-icon>menu</mat-icon>
</button>

<span class="logo" >Origins</span>
<!-- <span class="logo logo-invisible" routerLink="" routerLinkActive="logo-visible" [routerLinkActiveOptions]= "{exact: true}">Origins</span>
<span class="logo logo-invisible" routerLink="/collections" routerLinkActive="logo-visible" [routerLinkActiveOptions]= "{exact: true}">Collections</span> -->


<mat-menu #menu="matMenu" >
  <a mat-menu-item routerLink="" routerLinkActive="active-menu-item" [routerLinkActiveOptions]= "{exact: true}">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>
  <a mat-menu-item routerLink="/collections"  routerLinkActive="active-menu-item">
    <mat-icon>folder</mat-icon>
    <span>Collections</span>
  </a>
</mat-menu>
