//  ██████  ██████  ███    ███ ███    ███  ██████  ███    ██ 
// ██      ██    ██ ████  ████ ████  ████ ██    ██ ████   ██ 
// ██      ██    ██ ██ ████ ██ ██ ████ ██ ██    ██ ██ ██  ██ 
// ██      ██    ██ ██  ██  ██ ██  ██  ██ ██    ██ ██  ██ ██ 
//  ██████  ██████  ██      ██ ██      ██  ██████  ██   ████

.main-container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;

  // Diagnostic
  // height: calc(100vh - 10px); 
  // width: calc(100vw - 10px);
  // border: 5px solid cyan;

}

.header-bar-container {
  background-color: indigo; 
  color: white; 
  width: calc(100% - 10px);
  height:64px; border: 
  5px solid red;
}

.search-text-box {
  width: 60%;
  
  // min-width: 350px;
  // max-width: 600px;
}

.main-contents {
  flex: 1; 
  overflow:auto;
  
  // Debugging
  // background-color: DimGray; 
  // border: solid 3px green;
}

.scrollable-contents {
  overflow: auto;
}


input {
  font-size: 16px;
}

.route-heading {
  color: white;
}


// Action Buttons

.action-button {
  background-color: indigo;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

.new-action-button {
  @extend .action-button;
  background-color: #228B22;
}

.edit-action-button {
  @extend .action-button;
  background-color: #1AA7EC;
}

.purge-action-button {
  @extend .action-button;
  background-color: #FF7518;
}

.process-action-button {
  @extend .action-button;
  background-color: indigo;
  //margin-top: 10px;
}


.delete-action-button {
  @extend .action-button;
  background-color: #C41E3A;
  //margin-top: 10px;
}


// ██████  ██   ██  ██████  ███    ██ ███████ 
// ██   ██ ██   ██ ██    ██ ████   ██ ██      
// ██████  ███████ ██    ██ ██ ██  ██ █████   
// ██      ██   ██ ██    ██ ██  ██ ██ ██      
// ██      ██   ██  ██████  ██   ████ ███████ 

// 0px to 480px

@media only screen and (max-device-width: 480px){
  .logo {
    display: none;
  }
  .toolbar-search-box-container {
    padding-left: 15px;
  }
  
}

// ████████  █████  ██████  ██      ███████ ████████ 
//    ██    ██   ██ ██   ██ ██      ██         ██    
//    ██    ███████ ██████  ██      █████      ██    
//    ██    ██   ██ ██   ██ ██      ██         ██    
//    ██    ██   ██ ██████  ███████ ███████    ██    

// 481 to 1024px
@media only screen and (max-device-width: 1024) {
  .logo {
    display: none;
  }
}

// ██████   ██████ 
// ██   ██ ██      
// ██████  ██      
// ██      ██      
// ██       ██████ 

// 1025px and up

@media only screen and (min-device-width: 1025px){
  .logo {
    display: unset;
  }
  .search-text-box {
    max-width: 60%;
  }
}


// ██████   ██████  ███    ██ ███████ ██    ██  █████  ██████  ██████  
// ██   ██ ██    ██ ████   ██ ██       ██  ██  ██   ██ ██   ██ ██   ██ 
// ██████  ██    ██ ██ ██  ██ █████     ████   ███████ ██████  ██   ██ 
// ██   ██ ██    ██ ██  ██ ██ ██         ██    ██   ██ ██   ██ ██   ██ 
// ██████   ██████  ██   ████ ███████    ██    ██   ██ ██   ██ ██████  


// .fixed-header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 2;
//   width: 100% !important;
// }