

.dialog-window { 
  position: absolute;
  height: 80%; 
  width: 80%; 
  top: 10%; 
  left: 10%; 
  background-color: slategray; 
  text-align: center;
}

img {
  width: auto;
  height : auto;
  margin: 5px;
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
}