@import '../../shared/shared.scss';

.toolbar {
  background-color: indigo;
  // Debug
  // border: solid 3px green;
}

.toolbar-main-container {
  display: flex; 
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;

  // Debug
  // width: calc(100% - 4px); 
  // border: solid 2px blue;
}

.toolbar-search-box-container {
  flex: 1; 
  
  // Debug
  // border: solid 1px red;
}