<mat-toolbar class="toolbar">

  <!-- <div>
    <app-menu></app-menu>
    <span class="logo">Origins</span>
  </div> -->



  <div class="toolbar-main-container" >
    <div>
      <app-menu></app-menu>
    </div>
    <div class="toolbar-search-box-container" >
      <app-search-box></app-search-box>
    </div>
      
    
  </div>

  <!-- <h1 style="margin: 0 auto;">Hello</h1> -->

  <!-- <div style="display: flex; flex-direction: row; width: 100%; border: solid 2px blue;">
    <div>
      <app-menu></app-menu>
      <span class="logo">Origins</span>
    </div>
    <div style="flex: 1; align-content: center;border: solid 1px red;">
      <app-search-box></app-search-box>
    </div>
  </div> -->

</mat-toolbar>

<!-- <div style="width: 100%; display: flex; flex-direction: row; background-color: indigo" > -->
    


  <!-- Left -->
  <!-- <div>
    <app-menu >      </app-menu>
    <span class="hide-if-narrow">Origins</span>
  </div> -->

  <!-- Center -->
  <!-- <div style="flex: 1">
    <button mat-icon-button (click)="onGetAll()">
      <mat-icon>all_inclusive</mat-icon>
    </button>
    <input #search matInput placeholder="" value="justyn joshua cadets" style="width: 80%;min-width: 350px;max-width: 600px;" [(ngModel)]="searchText"
      (keyup.enter)="onSearch()">
    <button mat-icon-button (click)="onSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </div> -->

  <!-- Right -->
  

<!-- </div> -->
