<div class="main-contents">
  <!-- <app-search-results-grid>
  </app-search-results-grid> -->

  <div style="padding: 10px;">
    <h1 class="route-heading">Collections</h1>

    <button mat-stroked-button class="new-action-button" (click)="onAdd()">
      <mat-icon>add</mat-icon>
      Add Collection
    </button>
    <button mat-stroked-button class="purge-action-button" (click)="onPurge()" style="margin-left:10px">
      <mat-icon>remove_circle_outline</mat-icon>
      Purge All Collections
    </button>    

    <app-collection-list></app-collection-list>
  </div>
</div>