<div class="object-row" [class.object-row-is-selected]="(selectedObjectFullPath$ | async) === fullPath">

  <button class="object-icon" (click)="onClick($event)">
    <mat-icon *ngIf="objectType === 'directory'" >folder</mat-icon>
    <mat-icon *ngIf="objectType === 'file'" >image</mat-icon>
  </button>

  <div style="display:flex;flex-direction:column">
    <span class="object-name">{{name}}</span>
    <span>{{additionalInfo}}</span>
  </div>
  <div class="object-buttons-div">

    <button mat-stroked-button class="new-action-button object-button" (click)="onTags()">
      <mat-icon>sell</mat-icon>
      Tags
    </button>

    <button mat-stroked-button class="new-action-button object-button" (click)="onProcess()" >
      <mat-icon>engineering</mat-icon>
      Process
    </button>

    <button mat-stroked-button class="new-action-button object-button" (click)="onRename()">
      <mat-icon>edit_note</mat-icon>
      Rename
    </button>

    <button mat-stroked-button class="new-action-button object-button"  (click)="onDelete()">
      <mat-icon>delete</mat-icon>
      Delete
    </button>

  </div>
</div>