@import '../../../shared/shared.scss';

.search-box-main-container {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;

  // Debug
  // border: solid 1px yellow;
}

.search-text-box {
  flex: 1;
}