<div class="collection-list-item">
  <h2>Name of the Collection</h2>
  <div style="display: flex;">
    <div class="info-div" style="flex: 1;">
      <table >
        <tr class="tr-border">
          <td>Path:</td>
          <td>/foo/bar/baz/quux/waldo</td>
        </tr>
        <tr style="border: blue 1px solid;">
          <td>Path exists:</td>
          <td>True</td>
        </tr>
      </table>
    </div>
    <div class="actions-div">
      <button mat-stroked-button class="edit-action-button" style="width: 100%;">
        <mat-icon>edit</mat-icon>
        Edit
      </button>
      <br>
      <button mat-stroked-button class="delete-action-button">
        <mat-icon>delete_forever</mat-icon>
        Delete
      </button>
      
    </div>
  

  </div>

</div>
