@import "./shared/shared.scss";

body {
  background-color: pink;
}





/* Header */


// .example-spacer {
//   flex: 1 1 auto;
// }

// @media (max-width: 768px) {
//   .hide-if-narrow {
//     display: none;
//   }
// }


/* Contents */

.img-small {
  
  max-width: 200px;
  max-height: 200px;
  margin: 5px;
}

.img-large {
  
  max-width: 400px;
  max-height: 400px;
  margin: 5px;
}



// // Phone
// @media only screen and (min-device-width: 480px){
//   .logo {
//     display: none;
//   }
// }

// // Tablet
// @media only screen and (min-device-width: 768px) {
//   .logo {
//     display: none;
//   }
// }

// // PC
// @media only screen and (min-device-width: 1024px){
//   .logo {
//     display: unset;
//   }
// }

/* Footer */

/* #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
} */

/* #footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
} */

// #footer {
//   position:fixed;
//   left:0px;
//   bottom:0px;
//   height:30px;
//   width:100%;
//   background:#999;
// }

/* Boneyard */

/* .search-div {
  background-color: darkslategray;
  text-align: center;
} */

/* .search-results-div {
  margin: 5px;
} */
