<!-- <mat-toolbar color="primary" style="border: solid 3px green;">
</mat-toolbar> -->

<!-- display: flex; flex-direction: column;  -->

<app-image-lightbox></app-image-lightbox>

<div class="main-container">

  <app-toolbar></app-toolbar>

  <div class="main-contents"  >
    <router-outlet></router-outlet>
    <!-- <app-search-results-grid>
    </app-search-results-grid> -->
  </div>

   <!-- <div class="header-bar-container">
    <h1>Foo</h1>
  </div> -->

  <!--
  <div style="flex: 1; overflow:auto;background-color: gray; border: solid 3px green;" (scroll)="onScroll($event)">
    <app-search-results-grid>
    </app-search-results-grid>
  </div> -->

</div>

<!-- <app-image-lightbox></app-image-lightbox>

<div style="height: 100%; text-align: center; display: flex; flex-direction: column;">

  <app-toolbar></app-toolbar>

  <div style="flex: 1; overflow:auto;" (scroll)="onScroll($event)">
    <app-search-results-grid>
    </app-search-results-grid>
  </div>

</div> -->